<nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
    <div class="col-sm branding-background">
        <!-- Branding -->
        
        <div class="navbar-brand justify-content-center text-center">
            <div class="site-branding">
                <h1 class="site-title">
                    <a href="/" title="TITLE" rel="home">
                        Health Genie
                        </a>
                </h1>
                </div>
        </div>
    </div>
    

    <div class="col col-lg-auto">
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/about">
                    <i class="far fa-address-card"></i> About</a>
            </li>

            <!-- Dropdowns -->
            <!-- Others Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Try The Genie
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/diabetes">
                        <i class="fas fa-code"></i>&nbsp;&nbsp;Diabetes</a>
                        <a class="dropdown-item" href="/heart-disease">
                            <i class="fas fa-code"></i>&nbsp;&nbsp;Heart Disease</a>
                </div>
            </li>

            

           

            <!-- End Dropdowns -->

            
        </ul>
    </div>

</nav>
